<h1>Wallet</h1>


<div class="col-md-3 the-sidebar">
  <div class="profile-sidebar">
    <!-- SIDEBAR USERPIC -->
    <div class="profile-userpic">
      <img src="https://www.vccircle.com/wp-content/uploads/2017/03/default-profile.png" class="img-responsive" alt="">
    </div>
    <!-- END SIDEBAR USERPIC -->
    <!-- SIDEBAR USER TITLE -->
    <div class="profile-usertitle">
      <div class="profile-usertitle-name">
        <%= @user.name %>
      </div>
      <div class="profile-usertitle-job">
        <%= @user.job_title %>
      </div>
      <% if @user.id == current_user.id %>
        <%= link_to 'Edit/Delete', edit_user_path %>
      <% end %>
    </div>
    <!-- END SIDEBAR USER TITLE -->
    <!-- SIDEBAR BUTTONS -->
    <div class="profile-userbuttons">
      <!-- TENTATIVE NOT SURE WHERE THE ADD BUTTON SHOULD BE -->

      <% if @user.id.to_s == current_user.id.to_s%>

      <% elsif current_user.business_cards.where(contact_id:@user.id).count == 0 %>
        <button type="button" class="btn btn-success btn-sm adder"><%= link_to 'Add', bc_create_path(@user.id) %></button>
      <% end %>

    </div>
    <!-- END SIDEBAR BUTTONS -->
    <!-- SIDEBAR MENU -->
    <div class="profile-usermenu">
      <ul class="nav">
        <li>
          <a class="profile-att">
          <i class="glyphicon glyphicon-user"></i>
          <%= @user.username %> </a>
        </li>
        <li>
          <a class="profile-att">
          <i class="glyphicon glyphicon-earphone"></i>
          <%= @user.phone_number %> </a>
        </li>
        <li>
          <a class="profile-att">
          <i class="glyphicon glyphicon-envelope"></i>
          <%= @user.email %> </a>
        </li>
        <li>
          <a class="profile-att">
          <i class="glyphicon glyphicon-globe"></i>
          <%= @user.website %> </a>
        </li>
        <li>
          <a class="profile-att">
          <i class="glyphicon glyphicon-home"></i>
          <%= @user.address %> </a>
        </li>
        <li>
          <a class="profile-att">
          <i class="glyphicon glyphicon-briefcase"></i>
          <%= @user.company_name %> </a>
        </li>
      </ul>
    </div>
    <!-- END MENU -->
  </div>
</div>





<div class="user-card ccontainer">
    <p class="line1 card-text"><%= @user.name %></p>
    <p class="line2 card-text"><%= @user.job_title %></p>
    <p class="card-text contact">
      <%= @user.company_name %></br>
      <%= @user.phone_number %></br>
      <%= @user.email %></br>
      <%= @user.website %></br>
      <%= @user.address %>
    </p>
</div>

<% unless @user.business_cards.empty? %>
  <% @user.business_cards.each do |b| %>
    <div class="card bc-card ccontainer">
      <div class="front">
        <p class="line1 card-text"><%= b.contact.name %></p>
        <p class="line2 card-text"><%= b.contact.job_title %></p>
        <p class="card-text contact">
          <%= b.contact.company_name %></br>
          <%= b.contact.phone_number %></br>
          <%= b.contact.email %></br>
          <%= b.contact.website %></br>
          <%= b.contact.address %></br>
          <% if @user.id == current_user.id %>
            <%= link_to('Delete', bc_delete_path(b), method: :delete) %>
          <% end %>
        </p>
      </div>

      <!-- Flip Button idea -->
      <!-- <button type="button" name="button" class="flip">Flip</button> -->


      <div class="back">
        <% if @user.id == current_user.id %>
          <% if b.note %>
            <p class="bcontact">
              Notes: <%= b.note.body %></br>
              <%= link_to 'Edit', user_path(@user) + '?edit=' + b.note.id.to_s %>
              <%= link_to('Delete', delete_note_path(@user.id,b.note.id), method: :delete, class: 'del') %>
            <% if params[:edit] == b.note.id.to_s %>
              <%= form_for b.note, :url => edit_note_path(@user) do |n| %>
                <%= n.text_field :body, placeholder:"Edit Note", class: "textc" %>
                <%= n.hidden_field :business_card_id, value: b.id %>
                <%= n.submit%>
              <% end %>
            <% end %>

            </p>
          <% else %>
            <p class="bcontact">
            <%= form_for @note, :url => new_note_path(@user) do |n| %>
              <%= n.text_field :body, placeholder:"Note description", class: "textc" %>
              <%= n.hidden_field :business_card_id, value: b.id%>
              <%= n.submit %>
            <% end %>
            </p>
          <% end %>
        <% end %>
      </div>


    </div>

  <% end %>
<% end %>


<!-- <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://cdn.rawgit.com/nnattawat/flip/master/dist/jquery.flip.min.js"></script> -->
<script type="text/javascript">
  // $('.bc-card').flip()
  // $('#input').click(function(e){
  //   console.log("Works");
  //   e.flip(false)
  // })
  // $('.back').hide();
  // $('.flip').click(function(){
  //       $('.front').hide();
  //       $('.back').show();
  //   })

  // $('.flip').click(function(){
  //       $('.back').hide();
  //       $('.front').show();
  //   })
</script>
